.left-section {
  background: linear-gradient(to bottom, #6a11cb, #89a6d8);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  margin: 10px 0 20px;
}

.illustration {
  max-width: 100%;
  height: auto;
  width: 1000px;
}

.illustration2 {
  max-width: 100%;
  height: auto;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 20px;
}