* {
  font-family: 'Dancing Script', cursive;
}

body {
  margin: 0;
  padding: 0;
  overflow: visible;
 }

.main-container{
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10;
}